html,
body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

#header {
	width: 100%;
	display: flex;
	/* This centers our sketch horizontally. */
	justify-content: center;
	user-select: none;
}

#canvas {
	display: flex;
	/* This centers our sketch horizontally. */
	justify-content: center;
}
