* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

body {
    min-height: 100vh;
    text-align: center;
    background: rgb(109, 89, 89);
}

.scoreboard {
    font-size: large;
}

#score {
    font-size: x-large;
}

#canvas {
    cursor: crosshair;
    border-top: 3px rgba(66,0,0,0.5);
    border-left: 3px rgba(66,0,0,0.5);
    background: linear-gradient(135deg, rgb(197, 14, 14) 0%, rgb(207, 62, 62) 100%);
    box-shadow: 0 10px 15px black;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.mosquito {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: move 11s linear, hide 1s linear 11s;
}

.hit {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: hide 5s linear;
}

@keyframes move {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(var(--trX), var(--trY));
    }
}

@keyframes hide {
    from {
        transform: translate(var(--trX), var(--trY));
        opacity: 1;
    }
    to {
        transform: translate(var(--trX), var(--trY));
        opacity: 0;
    }
}


.centered {
    text-align: center;
}