* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

h1 {
    text-shadow: 1px 3px 3px #cf866c;
}

body {
    min-height: 100vh;
    text-align: center;
    background: rgb(109, 89, 89);
}

.scoreboard {
    font-size: large;
    margin-top: 15px;
}

.pageContainer {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    transition: 0.3s;
}

.page {
    background-color: rgb(109, 89, 89);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 10px 15px black;
}

.textCell {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.page h2 {
    margin: 0;
    text-shadow: 1px 3px 3px #cf866c;
}

#score {
    font-size: x-large;
}

.button {
    box-shadow: 5px 4px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:7px;
    border:3px solid;
    border-color: #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
    text-decoration:none;
    margin: 5px;
}
.button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.button:active {
	position:relative;
	top:1px;
}

#main {
    display: flex;
    flex-direction: row;
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#canvas {
    cursor: crosshair;
    border-top: 3px rgba(66,0,0,0.5);
    border-left: 3px rgba(66,0,0,0.5);
    background: linear-gradient(135deg, rgb(197, 14, 14) 0%, rgb(207, 62, 62) 100%);
    box-shadow: 0 10px 15px black;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.elementContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

.mosquito {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: move 11s linear, hide 1s linear 11s;
}

.bee {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: move 11s linear, hide 1s linear 11s;
}

.grasshopper {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: move 21s linear, hide 1s linear 21s;
}

.hit {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: hide 5s linear;
}

@keyframes move {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(var(--trX), var(--trY));
    }
}

@keyframes hide {
    from {
        transform: translate(var(--trX), var(--trY));
        opacity: 1;
    }
    to {
        transform: translate(var(--trX), var(--trY));
        opacity: 0;
    }
}


.centered {
    text-align: center;
}

.right {
    position:  absolute;
    right: 5px
}

#successPage {
    opacity: 0;
    visibility: hidden;
}

#shopPage {
    opacity: 0;
    visibility: hidden;
}

#shopPage.show {
    opacity: 1;
    visibility: visible;
}

#upgradePage {
    opacity: 0;
    visibility: hidden;
}

#upgradePage.show {
    opacity: 1;
    visibility: visible;
}

#successPage.show {
    opacity: 1;
    visibility: visible;
}

#statsPage {
    opacity: 0;
    visibility: hidden;
}

#statsPage.show {
    opacity: 1;
    visibility: visible;
}

#bestiaryPage {
    opacity: 0;
    visibility: hidden;
}

#bestiaryPage.show {
    opacity: 1;
    visibility: visible;
}