html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  display: none; /* flex */
  /* This centers our sketch horizontally. */
  justify-content: center;
  user-select: none;
}

#canvas {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* This centers our sketch horizontally. */
  justify-content: center;
}
