html, body {
    font-family: 'Gill Sans Extrabold', sans-serif;
    height: 100%;
}

h1 {
    text-shadow: 1px 3px 3px #999999;
}

body {
    background-color: #515151
}

.inputContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

#letter {
    margin: auto;
}

#number {
    margin: auto;
    margin-top: 10vw;
}

.selected {
    background-color: orange;
}

.button {
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 8px;
    font-size: larger;
}

@media screen and (max-width: 600px) {
    .button {
        width: 80px;
        height: 80px;
        margin: 8px;
        border-radius: 8px;
        font-size: xx-large;
    }
}

.button--id {
    width: 150px;
    height: 50px;
    margin: 8px;
    border-radius: 8px;
    font-size: larger;
}

#resultContainer {
    margin-top: 25px;
    font-size: 60px;
    color:antiquewhite;
    display: flex;
    align-items: center;
}

#result {
    margin: auto;
}

#header {
    width: 100%;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
    user-select: none;
}

#canvas {
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
}